<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
</head>
<body>
    <%=title%>
    <%=book.name%>

<%
    for(var i=0;i<10;i++){
%>
        <%=i%>
<%
    }
%>
</body>
</html>